.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbar-none{
    -ms-overflow-style: none;
    scrollbar-width: none;
}